.greetings {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url("../resources/Banner\ Image.png");
    width: 1200px;
    height: 600px;
    margin: 60px 80px;
    align-items: center;
}

#new_year {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;

}

#party {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    margin-top: 5px;
}

.banner {
    padding-top: 120px;
}

.offer {
    width: 1200px;
    height: 600px;
    margin-left: 250px;
    margin-bottom: 400px;

}

.offer>div {
    padding-right: 300px;
}


#off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

#holiday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
    margin-top: 24px;

}

#catagories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    margin-top: 8px;
}

.offer>img {
    width: 800px;
    height: 600px;
    padding-left: 60px;
}


.midnight {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url("../resources/Vectorrr.png");
    width: 1200px;
    height: 600px;
    margin: 60px 80px;
    display: flex;
    align-items: center;
}

.party_text {
    padding: 50px 0 142px 100px;
    line-height: 1;
}

#welcome {
    color: #FFF;
    max-width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 7.04px;
}

#invitation {
    color: rgba(255, 255, 255, 0.80);
    max-width: 650px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-align: balance;
}

#join {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    transition: background-color 0.3s ease;
    padding-right: 30px;
    padding-left: 40px;
    cursor: pointer;
    margin-right: 500px;
    margin-left: 50px;

}

#join:hover {
    background-color: rgba(255, 255, 255, .3);
}


.midnight>img {

    margin-right: 30px;
    max-height: 100%;

}

.event {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1200px;
    height: 600px;
    margin: 150px 80px;


}

#event_text {
    padding-top: 100px;

}

#event_text p {
    line-height: 1;
}

#place,
#date,
#time {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;

}

.event span {
    color: #F00;
}

#event_join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    gap: 10px;
    margin-left: 500px;
    margin-right: 500px;
    cursor: pointer;
}

#event_join:hover {
    background-color: rgba(133, 47, 47, 0.9);
}

.holiday {
    text-align: center;
    margin-top: -200px;
    line-height: 2;
}

#function {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: -10px;

}

#sale_text {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: -50px;
}

.holiday span {
    color: #F00;
    text-align: center;

}