header {
    padding: 50px 140px 140px 140px;

}

.greetings {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url("../resources/Banner\ Image.png");
    width: 1320px;
    height: 600px;


}

.banner {
    display: flex;
    flex-direction: column;
    padding: 177px 344px;
}

#new_year {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;

}

#party {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    margin-top: 5px;
}


ul.deals {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

#off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

#holiday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
    margin-top: 24px;

}

#catagories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    margin-top: 8px;
}

#new_year_image {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: 24px;
}